:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 156px;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-page {
  color: var(--ocean);
}

.studio-page {
  color: var(--ocean);
}

/**-----HEADER----- */

.header {
  width: 1158px;
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower);
}

.logo-studio {
  color: var(--navyblue);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-container {
  align-items: center;
  display: flex;
  gap: 90px;
}

.header-nav {
  padding: 24px 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  color: var(--navyblue);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contact {
  font-style: normal;
  padding: 24px 0;
}

.contact-list-item {
  color: var(--slate);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean);
}

.contact-list-item:hover,
.contact-list-item:focus {
  color: var(--ocean);
}

/**-----HERO----- */

.hero {
  padding: 188px 0;
}

.hero-container {
  background-color: var(--navyblue);
  max-width: 1158px;
  display: block;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
}

.hero-button {
  display: block;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris);
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/**-----ADVANTAGES----- */
.advantages {
  padding: 120px 0;
}
.advantages-container {
}

.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 24px * 3) / 4);
}
.advantages-list-item-text {
}
.advantages-title {
  margin-bottom: 8px;
}
.advantages-subtitle {
  margin-bottom: 8px;
}

/**-----WORK----- */

.work-container {
}

.work {
  padding: 120px 0;
  background-color: var(--cloud);
}

.work-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-list-item {
  width: calc((100% - 24px * 2) / 3);
  padding-bottom: 120px;
  padding-top: 72px;
}

/**-----TEAM----- */

.team {
  padding: 120px 0;
  background-color: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  padding-bottom: 120px;
  width: calc((100% - 24px * 3) / 4);
}
.team-card {
  padding: 32px 16px;
  text-align: center;
}
.team-list-item-text {
  text-align: center;
}
.team-list-item-title {
  margin-bottom: 8px;
}
/**-----FOOTER----- */

.footer {
  padding: 100px 0;
}
.footer-container {
  padding-top: 101.5px;
  max-width: 1158px;
  background: var(--navyblue);
}
.logo-studio-footer {
  color: var(--cloud);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  display: flex;
  color: var(--cloud);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 17.5px;
  padding-left: 156px;
  padding-bottom: 100px;
  max-width: 264px;
}

/**-----PORTFOLIO.HTML----- */
/**-----FILTER----- */

.filter {
  padding: 96px 0 120px 0;
}
.filter-list-button {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--cloud);
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.filter-list-button:hover,
.filter-list-button:focus {
  border: 1px solid transparent;
  background: var(--ocean);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.filter-container {
}

.filter-list {
  display: flex;
  row-gap: 48px;
  padding-left: 427px;
  padding-right: 427px;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.filter-list-item {
  width: calc((100% - 48px) / 3);
}
/**-----CARDS----- */

.cards-title {
  margin-bottom: 8px;
}

.cards-list {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-list-item {
}

.wrapper_card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
